<!DOCTYPE html>     
<html>
    <head>
        <title>{title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
    </head>
    <body>
        <div>
            <h1>{website}</h1>
            <p>{content}</p>
            <form method="POST">
                <ul>
                    <li><input type="submit" name="btn" value="{buttontext}"></li>
                </ul>
            </form>
        </div>
    </body>
</html>
